In [2]:
import pandas as pd

quiz1 = pd.read_excel('quiz1.xls')

quiz1.head()

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

,RNumber,StudentName,eRaider,RawScore,PctScore,CRN,Ranking,PctScoreAsPct
0,R11576052,"Adebanjo, Oluwafoyinsola M",oladeban,NaN,NaN,26799,NaN,NaN
1,R11653658,"Ashley, Kimber L",kiashley,NaN,NaN,26799,NaN,NaN
2,R11510244,"Babcock, Kennedee M",kebabcoc,7.0,0.777778,26799,55.5,77.777778
3,R11529545,"Bayles, Austin M",ausbayle,6.0,0.666667,26799,84.5,66.666667
4,R11619776,"Benedict, Gabriel L",gabenedi,8.0,0.888889,26799,24.5,88.888889

In [3]:
roster = pd.read_excel('class_roster.xlsx')

roster.head()

,Last Name,First Name,Username,Student ID,Last Access,Availability,Weighted Total [Total Pts: up to 0 Percentage] |1610680,Total [Total Pts: up to 0 Score] |1610681
0,Adebanjo,Foyin,oladeban,R11576052,2020-02-07 11:48:34,Yes,NaN,NaN
1,Ashley,Kimber,kiashley,R11653658,2020-02-09 19:28:05,Yes,NaN,NaN
2,Babcock,Kennedee,kebabcoc,R11510244,2020-02-07 10:24:54,Yes,NaN,NaN
3,Bayles,Austin,ausbayle,R11529545,2020-02-07 12:47:52,Yes,NaN,NaN
4,Benedict,Gabriel,gabenedi,R11619776,2020-02-07 13:12:04,Yes,NaN,NaN

In [ ]:
def parse_grade(quiz: pd.DataFrame, roster: pd.DataFrame, file: str) -> pd.DataFrame:
    """Parse grades from quiz to roster"""
    quiz_core = quiz.loc[:,['RNumber', 'RawScore']]
    for idx, val in enumerate(quiz_core.values):

In [14]:
quiz1.columns
quiz1_core = quiz1.loc[:,['RNumber', 'RawScore']]
display(quiz1_core)
display(roster.columns)
display(roster.head())
roster['quiz1'] = None
for idx, val in enumerate(quiz1_core.iloc[1:5,].values):
    roster.loc['Student ID'==val[0],'quiz1'] = val[1]

       RNumber  RawScore
0    R11576052       NaN
1    R11653658       NaN
2    R11510244       7.0
3    R11529545       6.0
4    R11619776       8.0
..         ...       ...
115  R11554938       6.0
116  R11608085       7.0
117  R11575665       8.0
118  R00000002       6.0
119  R00000001       6.0

[120 rows x 2 columns]

Index(['Last Name', 'First Name', 'Username', 'Student ID', 'Last Access',
       'Availability',
       'Weighted Total [Total Pts: up to 0 Percentage] |1610680',
       'Total [Total Pts: up to 0 Score] |1610681'],
      dtype='object')

,Last Name,First Name,Username,Student ID,Last Access,Availability,Weighted Total [Total Pts: up to 0 Percentage] |1610680,Total [Total Pts: up to 0 Score] |1610681
0,Adebanjo,Foyin,oladeban,R11576052,2020-02-07 11:48:34,Yes,NaN,NaN
1,Ashley,Kimber,kiashley,R11653658,2020-02-09 19:28:05,Yes,NaN,NaN
2,Babcock,Kennedee,kebabcoc,R11510244,2020-02-07 10:24:54,Yes,NaN,NaN
3,Bayles,Austin,ausbayle,R11529545,2020-02-07 12:47:52,Yes,NaN,NaN
4,Benedict,Gabriel,gabenedi,R11619776,2020-02-07 13:12:04,Yes,NaN,NaN

KeyError: 'cannot use a single bool to index into setitem'

In [15]:
roster.head()

,Last Name,First Name,Username,Student ID,Last Access,Availability,Weighted Total [Total Pts: up to 0 Percentage] |1610680,Total [Total Pts: up to 0 Score] |1610681,quiz1
0,Adebanjo,Foyin,oladeban,R11576052,2020-02-07 11:48:34,Yes,NaN,NaN,None
1,Ashley,Kimber,kiashley,R11653658,2020-02-09 19:28:05,Yes,NaN,NaN,None
2,Babcock,Kennedee,kebabcoc,R11510244,2020-02-07 10:24:54,Yes,NaN,NaN,None
3,Bayles,Austin,ausbayle,R11529545,2020-02-07 12:47:52,Yes,NaN,NaN,None
4,Benedict,Gabriel,gabenedi,R11619776,2020-02-07 13:12:04,Yes,NaN,NaN,None